
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

li {
    list-style: none;
}

.body {
    background: gray;
}

.bgimg {
    width: 100%;
    height: 400px;
    background-image: url('../Images/Home_Header.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.headerset {
    padding-top: 100px;
    box-sizing: border-box;
}

    .headerset h1 {
        font-size: 42px;
        font-weight: bold;
    }

    .headerset h2 {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 30px !IMPORTANT;
    }


.header-extradiv {
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-div {
    background: #FFF;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}

    .extra-div h2 {
        font-size: 0.9rem;
        margin: 20px 0 15px 0;
        font-weight: bold;
        line-height: 1.1;
        word-spacing: 4px;
    }

    .extra-div:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        transform: translateY(-20px);
    }

.meetwriters {
    height: 900px;
    width: 100%;
    padding: 100px 0 50px;
}

    .meetwriters h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

.stripe-new-orange {
    border-color: black;
    background: #008494;
}

.stripe-new-lg {
    border-bottom: 12px transparent solid;
    width: 100%;
    display: block;
}

.meetwriters {
    height: 700px;
    width: 100%;
    padding: 100px 0 50px;
}

    .meetwriters h1 {
        font-size: 50px;
        font-weight: bold;
    }

.cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .cards_wrap .card_item {
        padding: 15px 25px;
        width: 25%;
    }

    .cards_wrap .card_inner {
        background: rgba(250,250,250,.8);
        border-radius: 5px;
        padding: 20px 20px;
        min-width: 225px;
        min-height: 315px;
        max-height: 370px;
        width: 100%;
    }

    .cards_wrap .card_item img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 2px;
        border: 3px solid #285473;
        margin: 0px 33%;
    }

    .cards_wrap .card_item .writer_name {
        color: #285473;
        font-weight: 900;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }


    .cards_wrap .card_item .writerBio {
        font-size: 14px;
        line-height: 24px;
        color: black;
        text-align: center;
        width: 280px;
        height: 100px;
        margin-bottom: 15px;
    }

.ViewProfile {
    align-items: center;
    background-color: #285473;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 15px;
    margin: 0px auto 20px;
    padding: 15px 21px 5px 21px;
    text-align: center;
}

    .ViewProfile:active {
        background-color: #285473;
    }

    .ViewProfile:hover {
        background-color: #86b2d6;
        color: #285473;
    }

.Viewallwriter {
    align-items: center;
    background-color: rgba(0,132,148, 0.8);
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 30px;
    line-height: 1.15;
    margin: 0 auto;
    padding: 10px 50px 5px;
    text-align: center;
}
.Viewallwriter a{
    color:white;
}


    .Viewallwriter:hover {
        background-color: #86b2d6;
    }
    .Viewallwriter:hover a {
        color: white;
    }


.features {
    height: 400px;
    width: 100%;
    padding: 100px 0 50px;
    background: #008494;
}

    .features h1 {
        font-size: 50px;
        font-weight: bold;
        color: white;
    }

.features-div {
    background: #008494;
    border: medium none;
    padding: 50px !important;
}

    .features-div h2 {
        font-size: 0.9rem;
        margin: 20px 0 15px 0;
        font-weight: bold;
        line-height: 1.1;
        word-spacing: 4px;
        color: white;
    }
