@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h1 style="font-family: 'Times New Roman'; font-weight:bold; text-align:center; color: white;">Contact Us</h1>

<address style="font-family: 'Times New Roman'; font-weight:bold; text-align:center; color: white; font-size: 20px">
    If you think, you've been scammed and need legal support, then please contact us through these official mails given below with proofs.'<br />
    Address: 141 & 142, Love Road, Dhaka-1208<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address style="font-family: 'Times New Roman'; font-weight:bold; color: white; font-size: 20px;">
    <strong>Support 1:</strong>   <a href="mailto:ttajruba@gmail.com">ttajruba@gmail.com</a><br />
    <strong>Support 2:</strong> <a href="mailto:hridaa12@gmail.com">hridaa12@gmail.com</a><br />
    <strong>Support 3:</strong> <a href="mailto:Asfiqunishaa@gmail.com">Asfiqunishaa@gmail.com</a><br />
    <strong>Support 4:</strong> <a href="mailto:nosheen.nawar95@gmail.com">nosheen.nawar95@gmail.com</a>
</address>