@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style= "background: transparent;">
    <h1 style="font-family:'Times New Roman', Times, serif; font-weight: bold; color: white; text-align:center;">Writers Inn</h1>
    <p class="lead" style="font-family:'Times New Roman', Times, serif; color:white; font-weight: bold;">
        Writing content is an art and it plays an important role in conveying right message to target audience. Writers Inn not only offer creative and innovative contents for the customers, but also help content writers to show their talents and earn from it!
    </p>
    <p><a href="https://en.wikipedia.org/wiki/Content_writing_services" class="btn btn-primary btn-lg">Join Us! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="font-family:'Times New Roman', Times, serif; color:white;">Get Content Quickly</h2>
        <p style="font-family: 'Times New Roman', Times, serif; color: white;">
            There is always a suitable author among the many creative members on our platform.
            Troublesome author searches and missed deadlines for your content projects are things of the past.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family:'Times New Roman', Times, serif; color:white;">Get Content For Every Topic</h2>
        <p style="font-family:'Times New Roman', Times, serif; color:white;">Our authors have expertise in a wide variety of fields. Whether it’s travel, health or crypto-currencies, WritersInn can provide any type of content. Our authors are experience in every subject.</p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family:'Times New Roman', Times, serif; color:white;">Do Away With Hassle</h2>
        <p style="font-family:'Times New Roman', Times, serif; color:white;">Your entire content order is processed via our easy-to-use platform – from your author briefing to the export into your content management system. You don’t have to write an invoice for every single author anymore!</p>
    </div>
</div>
