
@{
    ViewBag.Title = "LoginOption";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/OptionStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow" style="width: 40rem; padding-top:60px; overflow:hidden;">
                    <div class="inner">
                        <img src="~/images/writer.jpg" class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Writer Panel</h5>
                        <p class="card-text">If you want to show your talent and want to increase your experience as a content writer and also want to earn from it, then Login Here!</p>
                        <a href="@Url.Action("Login","Account")" class="btn btn-success" style="font-family:'Times New Roman', Times, serif; font-weight:bold;">Login</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow" style="width: 40rem; padding-top:60px; overflow:hidden;">
                    <div class="inner">
                        <img src="~/images/customer.jpg" class="card-img-top" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Customer Panel</h5>
                        <p class="card-text">If you want to purchase authentic and quality content, then we've most talented content writers for you. You'll get your desire content on time in a affrodable rate with quality. This panel's services are ready for you!</p>
                        <a href="@Url.Action("CusLogin" , "Customer")" class="btn btn-success" style="font-family:'Times New Roman', Times, serif; font-weight:bold;">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

